
html, body {
    width: 100%;
    color:white;
}
table, button {
    margin-top:12.5px;
}

button{
    width:100px;
}

body{
    background:#333333;
}

.source{
    margin-top:15px;
    float:right;
}

p{
     color:white;
}

.col-lg-3{
    margin-top:150px;
}

#loading{
    padding:100px;
    margin-top:150px;
}